<footer class="no-select">
  <div class="social-wrap">
    <div class="row">
      <ul class="footer-social-list">
        <li><a>
          <i class="fa fa-facebook"></i><span>Facebook</span>
        </a></li>
        <li><a>
          <i class="fa fa-twitter"></i><span>Twitter</span>
        </a></li>
        <li><a>
          <i class="fa fa-instagram"></i><span>Instagram</span>
        </a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copyright">
      <span>© Copyright GAnguria.xyz 2021.</span>
      <span>Design by designer, program by programmer</span>
    </div>
  </div>
  <!--
    <div class="back-to-top">
      <a class="clickable" (click)="scrollTop()"><span>Back to Top</span></a>
    </div>
  -->
</footer>
