<div class="row">
  <div class="col-four">
    <mat-card matRipple class="clickable" routerLink="./all-users">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>group</mat-icon></div>
        <mat-card-title>All users</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-four">
    <mat-card matRipple class="clickable" routerLink="./all-albums">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>collections</mat-icon></div>
        <mat-card-title>All albums</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-four">
    <mat-card matRipple class="clickable" routerLink="./all-posts">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>post_add</mat-icon></div>
        <mat-card-title>All posts</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
