<div class="row">
  <div class="col-twelve">
    <h1>Current Count: {{ count$ | async }}</h1>
    <button id="increment" (mousedown)="mousedown(actions.increment)" (mouseup)="mouseup()" (mouseleave)="mouseup()"
            (click)="increment()">Increment</button>
    <button id="decrement" (mousedown)="mousedown(actions.decrement)" (mouseup)="mouseup()" (mouseleave)="mouseup()"
            (click)="decrement()">Decrement</button>
    <button (click)="reset()">Reset Counter</button>
  </div>
</div>
