<div class="row" id="reactive-form" [formGroup]="form">
  <div class="col-twelve margin-top-bottom">
    <div class="row">
      <div class="col-six">
        <pre>{{ form.value | json }}</pre>
      </div>
      <div class="col-six">
        <div class="row">
          <div class="col-six">
            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput type="text" autocomplete="off" formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-six">
            <mat-form-field class="full-width">
              <mat-label>Surname</mat-label>
              <input matInput type="text" autocomplete="off" formControlName="surname">
            </mat-form-field>
          </div>
          <div class="col-nine">
            <mat-form-field class="full-width">
              <mat-label>Age</mat-label>
              <input matInput type="number" autocomplete="off" formControlName="age">
            </mat-form-field>
          </div>
          <div class="col-three">
            <button mat-button class="float-right" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
