<mat-card matRipple class="card ripple-container" *ngIf="user$ | async; else loading">
  <mat-card-header>
    <mat-card-title><p>{{ post?.title }}</p></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>{{ post.body }}</div>
  </mat-card-content>
  <mat-card-footer>
    <app-user-card [user]="user$ | async">
      <button class="float-right" mat-button>SHARE</button>
    </app-user-card>
  </mat-card-footer>
</mat-card>

<ng-template #loading>
  <mat-card matRipple class="card ripple-container">
    <mat-card-header class="loading-card">
      <mat-card-title>
        <ngx-skeleton-loader
          [theme]="{ width: 'available', 'margin-bottom': 0, height: '30px' }"></ngx-skeleton-loader>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ngx-skeleton-loader count="5"
                           [theme]="{ width: 'available', 'margin-bottom': 0, height: '20px' }"></ngx-skeleton-loader>
    </mat-card-content>
    <mat-card-footer>
      <app-user-card [user]="null"></app-user-card>
    </mat-card-footer>
  </mat-card>
</ng-template>
