<div class="row">
  <div class="col-twelve margin-top-bottom">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <p>Broadcast</p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row card-container">
          <div class="col-twelve card-content" #content>
            <pre *ngFor="let message of webSocketMsgService.msg">
              {{ message }}
            </pre>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-nine no-pad-right">
            <mat-form-field class="full-width">
              <input matInput type="text"  autocomplete="off"
                     [(ngModel)]="msg" (keydown.enter)="sendMessage()" #msgRef>
            </mat-form-field>
          </div>
          <div class="col-three">
            <button appNativeMobileButton mat-button class="float-right" (click)="sendMessage()">
              Send
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-twelve margin-top-bottom">
    <pre>{{ (hello$ | async) | json }}</pre>
  </div>
</div>
