<div class="row">
  <div class="col-twelve">
    Hide matrices: <input type="checkbox" #ElementHide>
    <input placeholder="Matrices dimension" type="number"
            [ngModel]="matrixSize$ | async" #ElementMatrixSize>
    <button appNativeMobileButton (shortPress)="generateMatrices(ElementMatrixSize.value)"
            *ngIf="ElementMatrixSize.value > 0">Generate matrices</button>
    <button appNativeMobileButton (shortPress)="clear()">Clear</button>
  </div>
</div>

<div class="row">
  <div class="col-twelve">
    <button appNativeMobileButton (shortPress)="cpuMultiplyMatrix()" *ngIf="ElementMatrixSize.value > 0 && (matrixSize$ | async) > 0">Calculate result (CPU)</button>
    <button appNativeMobileButton (shortPress)="gpuMultiplyMatrix()" *ngIf="ElementMatrixSize.value > 0 && (matrixSize$ | async) > 0">Calculate result (GPU)</button>
  </div>
</div>

<div class="row">
  <div class="col-twelve">
    Matrix size: {{ matrixSize$ | async }}
  </div>
  <div class="col-six" *ngIf="cpuTime$ | async">
    CPU Time: {{ cpuTime$ | async }} ms
  </div>
  <div class="col-six" *ngIf="gpuTime$ | async">
    GPU Time: {{ gpuTime$ | async }} ms
  </div>
</div>

<ng-container *ngIf="!ElementHide.checked">
  <div class="row">
    <div class="col-twelve" *ngFor="let row of matrixA$ | async">
      <div>
        {{ row | json }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-twelve" *ngFor="let row of matrixB$ | async">
      <div>
        {{ row | json }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-twelve" *ngFor="let row of matrixResult$ | async">
      <div>
        {{ row | json }}
      </div>
    </div>
  </div>

</ng-container>
