<div class="row" id="gpu">
  <div class="col-twelve">
    <mat-checkbox class="float-right" [color]="'primary'" #ElementHide>Hide matrices</mat-checkbox>
  </div>
  <div class="col-six">
    <mat-form-field>
      <mat-label>Matrices dimension</mat-label>
      <input matInput type="number" autocomplete="off"
             [ngModel]="matrixSize$ | async" #ElementMatrixSize>
    </mat-form-field>
    <button mat-button appNativeMobileButton (shortPress)="generateMatrices(ElementMatrixSize.value)">GENERATE
      MATRICES
    </button>
    <button mat-button appNativeMobileButton (shortPress)="clear()">CLEAR</button>
  </div>
  <div class="col-six">
    <button mat-button appNativeMobileButton (shortPress)="cpuMultiplyMatrix()">CALCULATE RESULT (CPU)</button>
    <button mat-button appNativeMobileButton (shortPress)="gpuMultiplyMatrix()">CALCULATE RESULT (GPU)</button>
  </div>
</div>

<div class="row">
  <div class="col-twelve" *ngIf="matrixSize$ | async">
    Matrix size: {{ matrixSize$ | async }}
  </div>
  <div class="col-six" *ngIf="cpuTime$ | async">
    CPU Time: {{ cpuTime$ | async }} ms
  </div>
  <div class="col-six" *ngIf="gpuTime$ | async">
    GPU Time: {{ gpuTime$ | async }} ms
  </div>
</div>

<ng-container *ngIf="!ElementHide.checked">
  <div class="row">
    <div class="col-twelve" *ngFor="let row of matrixA$ | async">
      <div>
        {{ row | json }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-twelve" *ngFor="let row of matrixB$ | async">
      <div>
        {{ row | json }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-twelve" *ngFor="let row of matrixResult$ | async">
      <div>
        {{ row | json }}
      </div>
    </div>
  </div>

</ng-container>
