<div class="row" id="database">
  <div class="col-twelve margin-top-bottom">
    <button mat-icon-button class="float-right" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button routerLink="./" mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button routerLink="./all-users" mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>All users</span>
      </button>
      <button routerLink="./all-albums" mat-menu-item>
        <mat-icon>collections</mat-icon>
        <span>All albums</span>
      </button>
      <button routerLink="./all-posts" mat-menu-item>
        <mat-icon>post_add</mat-icon>
        <span>All posts</span>
      </button>
    </mat-menu>
  </div>
</div>

<router-outlet></router-outlet>
