<section id="home" class="home-particles">
  <div class="shadow-overlay"></div>
  <div class="content-wrap-table">
    <div class="main-content-tablecell no-select">
      <div class="row">
        <div class="col-twelve">
          <div id="counter">
            <div class="half">
              <span #daysLeft></span>
              <span #hoursLeft></span>
            </div>
            <div class="half">
              <span #minutesLeft></span>
              <span #secondsLeft></span>
            </div>
          </div>
          <div class="bottom-text">
            <h1 #label></h1>
          </div>
        </div>
        <!--
        <div class="scroll-icon">
          <p class="scroll-text">Scroll For More Info</p>
          <a class="smoothscroll">
            <div class="mouse"></div>
          </a>
          <div class="end-top"></div>
        </div>
        -->
      </div>
    </div>
  </div>
</section>


